/* Main Styles */


body{
	background:#F3F3F3;
	background-attachment: fixed;
}

.bold{
	font-weight: bold;
}

.thick{
	font-weight: 500;
}


section{
	margin-bottom: 40px !important;
}

#home{
	margin-bottom: 26px !important;
}

#main-container{
	margin-top: 160px;
}

.page{
	-webkit-box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     padding: 25px;
     background-color: #fff;

}

.divider{
	background-color: #60D8A1;
	padding: 20px;
	color #fff;
}

.divider h1, .divider h2, .divider h3, .divider h4{
	color: #fff;
}




.medium-icon{
	font-size: 70px;
	color: #ffe1e1;
}

.highlight-color{
	color: #4f2dff;
}

.page-heading{
	display:inline-block;
	border-bottom: 2px solid #ffe45f;
	padding-bottom: 5px;
	font-weight: 500;
}

.highlight-hr{
	border: 2px solid #FFE45F;
}
#home-text .highlight-hr {margin-top:13px; margin-bottom:13px;}

.emphasise-title{
	background-color: #60D8A1;
	padding: 10px;
	margin-bottom: 20px;
}

.project-desc p i{color:#ccc;}

/* Nav Styles */

.navi{
	width: 100%;
	position: fixed;
	z-index: 10;
	text-align: center;
	background-color: #4F2DFF;
	-webkit-box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
	 opacity: 0.7;
	 filter: alpha(opacity=70); /* For IE8 and earlier */
}


.navi ul{
	overflow:hidden;
	background-color: #4F2DFF;
	display:inline-block;
	margin-bottom: 0px;
}

.navi li:first-child{
	margin-left: 0px;
}

.navi li:last-child{
	margin-right: 0px;
}

.navi li{
	float:left;
	list-style:none;
	font-size: 30px;
	padding: 3px 10px 0px 10px;
	background-color: #4F2DFF;
	color: #fff;
	width: 60px;
	margin-left: 5px;
	text-align: center;
}


/* Home Styles */

#home-photo{
	height: 212px;
	width: 100%;
	background: url('../images/profile-new.jpg') no-repeat;
	background-size: cover;
	border: 10px solid #fff;
	-webkit-box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
   
    position: relative;
    z-index: -1;
}

.home-right{
	padding-right: 0px;
}

.home-left{
	padding-left: 0px;
}

#home-text{
	width: 100%;
	margin: 0px auto;
	-webkit-box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     background-color: #fff;
     padding: 0px 20px 20px 20px;
     z-index: 3;
	
}

#home-text span{ font-weight:300;}
#home-text h3, #home-text h4, #home-text h5{
	margin-top: 0px;
	margin-bottom: 3px;
}

#home-social-container{
	text-align:right;
}

#home-social{
	overflow:hidden;
	display:inline-block;
	margin-bottom: 0px;
}

#home-social li{
	list-style: none;
	float: left;
	font-size: 18px;
	background-color: #9E84C8;
	margin-left: 10px;
	color: #fff;
	
}

#home-social li a {outline:none;padding: 8px; display:block}

#home-social li.googleSoc:hover a{background:#DD4B39;}
#home-social li.googleSoc a:hover i{color:#fff;}

#home-social li.fbSoc:hover a{background:#3E588E;}
#home-social li.fbSoc a:hover i{color:#fff;}

#home-social li.linkedinSoc:hover a{background:#2387BD;}
#home-social li.linkedinSoc a:hover i{color:#fff;}

#home-text h5.emailTag a:hover{ color:#4617B4;}
#home-text h5.twitterTag a:hover{ color:#55ACEE;}



/* Profile Styles */

#profile h4{
	margin-bottom: 30px;
}

#skill { 
	list-style: none;
	width: 100%;
	position: relative;
	line-height: 2em;
	padding: 22px 0px 20px 20px;
	overflow: hidden;
}

#skill li { 
	margin-bottom:40px; 
	height:22px; 	  
}

#skill li:last-child{
	margin-bottom: 0px;
}

#skill li h5 { 
	position:relative; 
	top:-20px;
	font-weight: 500;
}

.bar { 
	height:18px; 
	margin:2px 2px;  
	position:absolute;	
}

.graphic-design {
	width:60%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #60D8A1;
}

.html-css {
	width:90%;
	-moz-animation:html-css 2s ease-out;
	-webkit-animation:html-css 2s ease-out;
	background-color: #60D8A1;
}

.jquery {
	width:70%;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #60D8A1;
}

.php {
	width:50%;
	-moz-animation:wordpress 2s ease-out;
	-webkit-animation:php 2s ease-out;
	background-color: #60D8A1;
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes php   { 0%  { width:0px;} 100%{ width:50%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes php   { 0%  { width:0px;} 100%{ width:50%;}  }


/* Resume Styles */

#resume h6{
	font-weight: 500;
	margin-top: 3px;
}

.resume-large-icon{
	font-size: 70px;
	color: #E0E1EC;
	margin-top: 80px;
	padding-left: 10px;
}

.timeline-section{
	margin-bottom: 30px;
}

.timeline-section ul{
	list-style: none;
	margin-left: 25px;
}

.timeline-section li{
	list-style-type: none;
	margin-left: 10px;
	
    list-style-position: inside;
    padding: 10px 0 10px 10px;
    text-indent: -0.3em;

}


.resume-title{
	font-weight: bold;
	line-height: 1.6;
}

.resume-company{
	font-weight: 500;
	line-height: 1.6;
}

.resume-entry{
	margin-bottom: 30px;
	float:right;
}

.resume-company a, .resume-company{
	color: #4F2DFF;
}

.snapshot{
	background-color: #60D8A1;
	color: #fff;
	padding: 20px;
}

.snapshot h3, .snapshot h4{
	color: #fff;
	margin-top: 0px;
}

.snapshot-timeline{
	border-bottom: 4px solid #fff;
	margin-bottom: 20px;
}

.timeline-circle{
	position: relative;
	margin-top: 0px;
	top: 15px;
	font-size: 25px;
	color: #fff;
	
}


/* Featured Project Styles */

.featured-project-details{
	background-color: #ddd;
	padding: 15px;
	
}

.featured-project-description h5{
	font-weight: bold;
	color: #fff;
	margin: 0px;
}

.featured-project-description h6{
	font-weight: 500;
	margin: 0px 0px 3px 0px;
	color: #fff;
}

.featured-project-details h6:first-child{
	margin-top: 0px;	
}

.featured-project-details h6{
	font-weight: bold;
}
.featured-project-details span {line-height:20px;}
/* Project Styles */

.project-row{
	margin-bottom: 30px;
}

.project-hover{
	position: absolute;
	top:0px;
	left:0px;
	width: 95%;
	height: 300px;
	background-color: #fff;
	opacity: 0.8;
	color: #4f2dff;
	padding: 90px 15px 50px 15px;
	cursor: pointer;
	display: none;
	font-size: 50px;
	margin-left: 10px;
}

.project-hover h3{
	color: #4f2dff;
}



.project-img-wrap{
	min-width: 100%;
	margin: 0px auto;
	overflow: hidden;
	cursor: pointer;
}

.project-img-wrap img{
	height: 300px;
	max-width: 150%;
	margin-left:-65px;
}

.project-details{
	background-color: #ddd;
	padding: 10px;
	border-top: 4px solid #4f2dff;
	position: relative;
	top: -3px;
}

.project-details h5{
	margin-top: 0px;
}

.project-details h6{
	
	margin-bottom: 3px;
	margin-top: 4px;
}

/* Project Single Styles */

.project-single img{
	width: 100%;

}
.project-single-slideshow{
	margin-bottom: 20px !important;
	border-bottom: 3px solid #4f2dff;
	
}

/* Contact Styles */

#contact-left ul{
	margin-top: 30px;
}

#contact-left li{
	list-style: none;
}

.contact-detail{font-size: 20px;}


.contact-detail{
	font-size: 20px;
	padding: 5px;
	margin-bottom: 10px;
	display: inline-block;
}

.contact-detail.linked:hover {background:#4F2DFF;}

#form-msg{
	height: 200px;
}

#contact-icon{
	font-size: 80px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	color:#4F2DFF;
}

/* Media Queries */

@media only screen and (max-width: 767px) {

#main-container{
	margin-top: 100px;
}

.navi li{
	font-size: 25px;
	width: 40px;
	margin-left: 10px;
	height: 62px;
	padding: 10px 10px 30px 10px;
}

.navi li:last-child{
	margin-right: 25px;
}


#featured-project{
	padding-bottom: 50px;
}

.project-item{
	margin-bottom: 20px;
}

#home-photo{
	height: 220px;
	width: 100%;
	background-size: cover;
	border: 10px solid #fff;
	margin: 0px auto;
	margin-bottom: 15px;
	-webkit-box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 0px 13px 1px rgba(0, 0, 0, 0.2);

}

.page{
	padding: 10px;
}

.home-text{
	width: 100%;
}

.home-left{
	padding-left: 10px;
}

.home-right{
	padding-right: 10px;
}



.snapshot-timeline{
	display: none;
}







}


